# Proyek Analisis Data: Air Quality
- Nama: Reza Faisal
- Email: rezha.faizal567@gmail.com
- Id Dicoding: rezaafaisal

## Menentukan Pertanyaan Bisnis

- pertanyaan 1
- pertanyaan 2

## Menyiapkan semua library yang dibutuhkan

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data
Pada tahap ini data kualitas udara dari setiap stasiun akan di load dan dijadikan dataframe

In [2]:
# list files
sources = [
    'PRSA_Data_Aotizhongxin_20130301-20170228.csv',
    'PRSA_Data_Changping_20130301-20170228.csv',
    'PRSA_Data_Dingling_20130301-20170228.csv',
    'PRSA_Data_Dongsi_20130301-20170228.csv',
    'PRSA_Data_Guanyuan_20130301-20170228.csv',
    'PRSA_Data_Gucheng_20130301-20170228.csv',
    'PRSA_Data_Huairou_20130301-20170228.csv',
    'PRSA_Data_Nongzhanguan_20130301-20170228.csv',
    'PRSA_Data_Shunyi_20130301-20170228.csv',
    'PRSA_Data_Tiantan_20130301-20170228.csv',
    'PRSA_Data_Wanliu_20130301-20170228.csv',
    'PRSA_Data_Wanshouxigong_20130301-20170228.csv'
]

# list stations
stations = [source.split('_')[2].lower() for source in sources]

In [3]:
# make dataframe variables
dfs = {}
for i, source in enumerate(sources):
    dfs[stations[i]] = pd.read_csv('data/'+source)
    
aotizhongxin_df = dfs['aotizhongxin']
changping_df = dfs['changping']
dingling_df = dfs['dingling']
dongsi_df = dfs['dongsi']
guanyuan_df = dfs['guanyuan']
gucheng_df = dfs['gucheng']
huairou_df = dfs['huairou'] 
nongzhanguan_df = dfs['nongzhanguan']
shunyi_df = dfs['shunyi']
tiantan_df = dfs['tiantan']
wanliu_df = dfs['wanliu']
wanshouxigong_df = dfs['wanshouxigong']

### Assessing Data

In [4]:
# membuat function untuk asesing data
def assessing(df, name):
    # melihat informasi tipe data
    df.info()
    # melihat ukuran data
    print('\nShape '+name+':\n', df.shape)
    # cek missing value
    print('\nMissing Value '+name+':\n', df.isna().sum())
    # cek duplikasi
    print('\nDuplicate '+name+':', df.duplicated().sum())
    # describe dataframe
    print('\nDescribe '+name+':\n',df.describe())

#### Menilai data Aotizhongxin

In [5]:
assessing(aotizhongxin_df, 'Aotizhongxin')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34139 non-null  float64
 6   PM10     34346 non-null  float64
 7   SO2      34129 non-null  float64
 8   NO2      34041 non-null  float64
 9   CO       33288 non-null  float64
 10  O3       33345 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34983 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

Shape Aotizhongxin:
 (35064, 18)

Missing Value Aotizhongxin:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       925
PM10        718
SO2         935
NO2        1023
CO         1776
O3         1719
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

Duplicate Aotizhongxin: 0

Describe Aotizhongxin:
                  No          year         month           day          hour  \
count  35064.000000  35064.000000  35064.000000  35064.000000  35064.000000
mean   17532.500000   2014.662560      6.522930     15.729637     11.500000
std    10122.249256      1.177213      3.448752      8.800218      6.922285
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8766.750000   2014.000000      4.000000      8.000000      5.750000
50%    17532.500000   2015.000000      7.000000     16.000000     11.500000
75%    26298.250000   2016.000000     10.000000     23.000000     17.250000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  34139.000000  34346.000000  34129.000000  34041.000000  33288.000000
mean      82.773611    110.060391     17.375901     59.305833   1262.945145
std       82.135694     95.223005     22.823017     37.116200   1221.436236
min        3.000000      2.000000      0.285600      2.000000    100.000000
25%       22.000000     38.000000      3.000000     30.000000    500.000000
50%       58.000000     87.000000      9.000000     53.000000    900.000000
75%      114.000000    155.000000     21.000000     82.000000   1500.000000
max      898.000000    984.000000    341.000000    290.000000  10000.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  33345.000000  35044.000000  35044.000000  35044.000000  35044.000000
mean      56.353358     13.584607   1011.846920      3.123062      0.067421
std       57.916327     11.399097     10.404047     13.688896      0.910056
min        0.214200    -16.800000    985.900000    -35.300000      0.000000
25%        8.000000      3.100000   1003.300000     -8.100000      0.000000
50%       42.000000     14.500000   1011.400000      3.800000      0.000000
75%       82.000000     23.300000   1020.100000     15.600000      0.000000
max      423.000000     40.500000   1042.000000     28.500000     72.500000

               WSPM
count  35050.000000
mean       1.708496
std        1.204071
min        0.000000
25%        0.900000
50%        1.400000
75%        2.200000
max       11.200000

#### Menilai data Changping

In [6]:
assessing(changping_df, 'Changpin')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34290 non-null  float64
 6   PM10     34482 non-null  float64
 7   SO2      34436 non-null  float64
 8   NO2      34397 non-null  float64
 9   CO       33543 non-null  float64
 10  O3       34460 non-null  float64
 11  TEMP     35011 non-null  float64
 12  PRES     35014 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34924 non-null  object
 16  WSPM     35021 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

Shape Changpin:
 (35064, 18)

Missing Value Changpin:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       774
PM10        582
SO2         628
NO2         667
CO         1521
O3          604
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64

Duplicate Changpin: 0

Describe Changpin:
                  No          year         month           day          hour  \
count  35064.000000  35064.000000  35064.000000  35064.000000  35064.000000
mean   17532.500000   2014.662560      6.522930     15.729637     11.500000
std    10122.249256      1.177213      3.448752      8.800218      6.922285
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8766.750000   2014.000000      4.000000      8.000000      5.750000
50%    17532.500000   2015.000000      7.000000     16.000000     11.500000
75%    26298.250000   2016.000000     10.000000     23.000000     17.250000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  34290.000000  34482.000000  34436.000000  34397.000000  33543.000000
mean      71.099743     94.657871     14.958906     44.182086   1152.301345
std       72.326926     83.441738     20.975331     29.519796   1103.056282
min        2.000000      2.000000      0.285600      1.847700    100.000000
25%       18.000000     34.000000      2.000000     22.000000    500.000000
50%       46.000000     72.000000      7.000000     36.000000    800.000000
75%      100.000000    131.000000     18.000000     60.358200   1400.000000
max      882.000000    999.000000    310.000000    226.000000  10000.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  34460.000000  35011.000000  35014.000000  35011.000000  35013.000000
mean      57.940003     13.686111   1007.760278      1.505495      0.060366
std       54.316674     11.365313     10.225664     13.822099      0.752899
min        0.214200    -16.600000    982.400000    -35.100000      0.000000
25%       15.636600      3.400000    999.300000    -10.200000      0.000000
50%       46.000000     14.700000   1007.400000      1.800000      0.000000
75%       80.000000     23.300000   1016.000000     14.200000      0.000000
max      429.000000     41.400000   1036.500000     27.200000     52.100000

               WSPM
count  35021.000000
mean       1.853836
std        1.309808
min        0.000000
25%        1.000000
50%        1.500000
75%        2.300000
max       10.000000

#### Menilai Data Dingling

In [7]:
assessing(dingling_df, 'Dingling')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34285 non-null  float64
 6   PM10     34408 non-null  float64
 7   SO2      34334 non-null  float64
 8   NO2      33830 non-null  float64
 9   CO       33052 non-null  float64
 10  O3       33850 non-null  float64
 11  TEMP     35011 non-null  float64
 12  PRES     35014 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34924 non-null  object
 16  WSPM     35021 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

Shape Dingling:
 (35064, 18)

Missing Value Dingling:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       779
PM10        656
SO2         730
NO2        1234
CO         2012
O3         1214
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64

Duplicate Dingling: 0

Describe Dingling:
                  No          year         month           day          hour  \
count  35064.000000  35064.000000  35064.000000  35064.000000  35064.000000
mean   17532.500000   2014.662560      6.522930     15.729637     11.500000
std    10122.249256      1.177213      3.448752      8.800218      6.922285
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8766.750000   2014.000000      4.000000      8.000000      5.750000
50%    17532.500000   2015.000000      7.000000     16.000000     11.500000
75%    26298.250000   2016.000000     10.000000     23.000000     17.250000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  34285.000000  34408.000000  34334.000000  33830.000000  33052.000000
mean      65.989497     83.739723     11.749650     27.585467    904.896073
std       72.267723     79.541685     15.519259     26.383882    903.306220
min        3.000000      2.000000      0.285600      1.026500    100.000000
25%       14.000000     26.000000      2.000000      9.000000    300.000000
50%       41.000000     60.000000      5.000000     19.000000    600.000000
75%       93.000000    117.000000     15.000000     38.000000   1200.000000
max      881.000000    905.000000    156.000000    205.000000  10000.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  33850.000000  35011.000000  35014.000000  35011.000000  35013.000000
mean      68.548371     13.686111   1007.760278      1.505495      0.060366
std       53.764424     11.365313     10.225664     13.822099      0.752899
min        0.214200    -16.600000    982.400000    -35.100000      0.000000
25%       31.000000      3.400000    999.300000    -10.200000      0.000000
50%       61.000000     14.700000   1007.400000      1.800000      0.000000
75%       90.000000     23.300000   1016.000000     14.200000      0.000000
max      500.000000     41.400000   1036.500000     27.200000     52.100000

               WSPM
count  35021.000000
mean       1.853836
std        1.309808
min        0.000000
25%        1.000000
50%        1.500000
75%        2.300000
max       10.000000

#### Menilai data Dongsi

In [8]:
assessing(dongsi_df, 'Dongsi')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34314 non-null  float64
 6   PM10     34511 non-null  float64
 7   SO2      34401 non-null  float64
 8   NO2      33463 non-null  float64
 9   CO       31867 non-null  float64
 10  O3       34400 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34986 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

Shape Dongsi:
 (35064, 18)

Missing Value Dongsi:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       750
PM10        553
SO2         663
NO2        1601
CO         3197
O3          664
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

Duplicate Dongsi: 0

Describe Dongsi:
                  No          year         month           day          hour  \
count  35064.000000  35064.000000  35064.000000  35064.000000  35064.000000
mean   17532.500000   2014.662560      6.522930     15.729637     11.500000
std    10122.249256      1.177213      3.448752      8.800218      6.922285
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8766.750000   2014.000000      4.000000      8.000000      5.750000
50%    17532.500000   2015.000000      7.000000     16.000000     11.500000
75%    26298.250000   2016.000000     10.000000     23.000000     17.250000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  34314.000000  34511.000000  34401.000000  33463.000000  31867.000000
mean      86.194297    110.336742     18.531107     53.699443   1330.069131
std       86.575127     98.219860     22.905655     33.959230   1191.305887
min        3.000000      2.000000      0.285600      2.000000    100.000000
25%       22.000000     38.000000      4.000000     27.000000    600.000000
50%       61.000000     86.000000     10.000000     47.000000   1000.000000
75%      119.000000    151.000000     24.000000     73.000000   1700.000000
max      737.000000    955.000000    300.000000    258.000000  10000.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  34400.000000  35044.000000  35044.000000  35044.000000  35044.000000
mean      57.210637     13.671490   1012.547419      2.447535      0.064020
std       58.033275     11.458418     10.266059     13.810696      0.786282
min        0.642600    -16.800000    987.100000    -35.300000      0.000000
25%       12.000000      3.100000   1004.000000     -8.800000      0.000000
50%       44.125200     14.600000   1012.200000      3.000000      0.000000
75%       81.000000     23.500000   1020.900000     15.000000      0.000000
max     1071.000000     41.100000   1042.000000     28.800000     46.400000

               WSPM
count  35050.000000
mean       1.860785
std        1.280368
min        0.000000
25%        1.000000
50%        1.500000
75%        2.400000
max       10.500000

#### Menilai data Guanyuan

In [9]:
assessing(guanyuan_df, 'Guanyuan')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34448 non-null  float64
 6   PM10     34635 non-null  float64
 7   SO2      34590 non-null  float64
 8   NO2      34405 non-null  float64
 9   CO       33311 non-null  float64
 10  O3       33891 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34983 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

Shape Guanyuan:
 (35064, 18)

Missing Value Guanyuan:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       616
PM10        429
SO2         474
NO2         659
CO         1753
O3         1173
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

Duplicate Guanyuan: 0

Describe Guanyuan:
                  No          year         month           day          hour  \
count  35064.000000  35064.000000  35064.000000  35064.000000  35064.000000
mean   17532.500000   2014.662560      6.522930     15.729637     11.500000
std    10122.249256      1.177213      3.448752      8.800218      6.922285
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8766.750000   2014.000000      4.000000      8.000000      5.750000
50%    17532.500000   2015.000000      7.000000     16.000000     11.500000
75%    26298.250000   2016.000000     10.000000     23.000000     17.250000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  34448.000000  34635.000000  34590.000000  34405.000000  33311.000000
mean      82.933372    109.023303     17.590941     57.901643   1271.294377
std       80.933497     91.573709     23.600367     35.150857   1164.854945
min        2.000000      2.000000      1.000000      2.000000    100.000000
25%       23.000000     40.000000      3.000000     31.000000    500.000000
50%       59.000000     89.000000      8.000000     51.000000    900.000000
75%      115.000000    149.000000     22.000000     78.000000   1600.000000
max      680.000000    999.000000    293.000000    270.000000  10000.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  33891.000000  35044.000000  35044.000000  35044.000000  35044.000000
mean      55.795044     13.584607   1011.846920      3.123062      0.067421
std       57.436983     11.399097     10.404047     13.688896      0.910056
min        0.214200    -16.800000    985.900000    -35.300000      0.000000
25%        7.000000      3.100000   1003.300000     -8.100000      0.000000
50%       41.000000     14.500000   1011.400000      3.800000      0.000000
75%       81.000000     23.300000   1020.100000     15.600000      0.000000
max      415.000000     40.500000   1042.000000     28.500000     72.500000

               WSPM
count  35050.000000
mean       1.708496
std        1.204071
min        0.000000
25%        0.900000
50%        1.400000
75%        2.200000
max       11.200000

#### Menilai data Gucheng

In [10]:
assessing(gucheng_df, 'Gucheng')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34418 non-null  float64
 6   PM10     34683 non-null  float64
 7   SO2      34557 non-null  float64
 8   NO2      34396 non-null  float64
 9   CO       33663 non-null  float64
 10  O3       34335 non-null  float64
 11  TEMP     35013 non-null  float64
 12  PRES     35014 non-null  float64
 13  DEWP     35013 non-null  float64
 14  RAIN     35021 non-null  float64
 15  wd       34905 non-null  object
 16  WSPM     35022 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

Shape Gucheng:
 (35064, 18)

Missing Value Gucheng:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       646
PM10        381
SO2         507
NO2         668
CO         1401
O3          729
TEMP         51
PRES         50
DEWP         51
RAIN         43
wd          159
WSPM         42
station       0
dtype: int64

Duplicate Gucheng: 0

Describe Gucheng:
                  No          year         month           day          hour  \
count  35064.000000  35064.000000  35064.000000  35064.000000  35064.000000
mean   17532.500000   2014.662560      6.522930     15.729637     11.500000
std    10122.249256      1.177213      3.448752      8.800218      6.922285
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8766.750000   2014.000000      4.000000      8.000000      5.750000
50%    17532.500000   2015.000000      7.000000     16.000000     11.500000
75%    26298.250000   2016.000000     10.000000     23.000000     17.250000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  34418.000000  34683.000000  34557.000000  34396.000000  33663.000000
mean      83.852089    118.861978     15.366162     55.871075   1323.974423
std       82.796445     96.742626     21.204526     36.473860   1208.957772
min        2.000000      2.000000      0.285600      2.000000    100.000000
25%       24.000000     45.000000      2.000000     26.000000    600.000000
50%       60.000000     99.000000      7.000000     50.000000    900.000000
75%      115.750000    167.000000     20.000000     79.000000   1600.000000
max      770.000000    994.000000    500.000000    276.000000  10000.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  34335.000000  35013.000000  35014.000000  35013.000000  35021.000000
mean      57.694879     13.864524   1008.829592      2.610442      0.064453
std       57.019587     11.292857     10.103256     13.782991      0.838654
min        0.214200    -15.600000    984.000000    -34.600000      0.000000
25%       10.000000      3.600000   1000.500000     -8.900000      0.000000
50%       45.000000     14.800000   1008.500000      3.000000      0.000000
75%       83.000000     23.500000   1017.000000     15.300000      0.000000
max      450.000000     41.600000   1038.100000     27.400000     41.900000

               WSPM
count  35022.000000
mean       1.343310
std        1.151064
min        0.000000
25%        0.600000
50%        1.000000
75%        1.800000
max       12.000000

#### Menilai data Huairou

In [11]:
assessing(huairou_df, 'Huairou')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34111 non-null  float64
 6   PM10     34287 non-null  float64
 7   SO2      34084 non-null  float64
 8   NO2      33425 non-null  float64
 9   CO       33642 non-null  float64
 10  O3       33913 non-null  float64
 11  TEMP     35013 non-null  float64
 12  PRES     35011 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35009 non-null  float64
 15  wd       34762 non-null  object
 16  WSPM     35015 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

Shape Huairou:
 (35064, 18)

Missing Value Huairou:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       953
PM10        777
SO2         980
NO2        1639
CO         1422
O3         1151
TEMP         51
PRES         53
DEWP         53
RAIN         55
wd          302
WSPM         49
station       0
dtype: int64

Duplicate Huairou: 0

Describe Huairou:
                  No          year         month           day          hour  \
count  35064.000000  35064.000000  35064.000000  35064.000000  35064.000000
mean   17532.500000   2014.662560      6.522930     15.729637     11.500000
std    10122.249256      1.177213      3.448752      8.800218      6.922285
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8766.750000   2014.000000      4.000000      8.000000      5.750000
50%    17532.500000   2015.000000      7.000000     16.000000     11.500000
75%    26298.250000   2016.000000     10.000000     23.000000     17.250000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  34111.000000  34287.000000  34084.000000  33425.000000  33642.000000
mean      69.626367     91.482690     12.121553     32.497250   1022.554545
std       71.224916     83.289578     18.896912     26.489531    898.738241
min        2.000000      2.000000      0.285600      1.026500    100.000000
25%       17.000000     28.000000      2.000000     12.000000    400.000000
50%       47.000000     69.000000      4.000000     25.000000    800.000000
75%       98.000000    131.000000     14.000000     46.000000   1300.000000
max      762.000000    993.000000    315.000000    231.000000  10000.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  33913.000000  35013.000000  35011.000000  35011.000000  35009.000000
mean      59.824713     12.445426   1007.598568      2.238619      0.067940
std       54.605746     11.751103     10.022101     14.052541      0.849046
min        0.214200    -19.900000    982.800000    -43.400000      0.000000
25%       18.000000      2.100000    999.300000     -9.600000      0.000000
50%       49.000000     13.600000   1007.300000      2.700000      0.000000
75%       83.000000     22.300000   1015.500000     15.300000      0.000000
max      444.000000     40.300000   1036.500000     29.100000     45.900000

               WSPM
count  35015.000000
mean       1.652021
std        1.199143
min        0.000000
25%        0.900000
50%        1.300000
75%        2.000000
max       12.900000

#### Menilai data Nongzhanguan

In [12]:
assessing(nongzhanguan_df, 'Nongzhanguan')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34436 non-null  float64
 6   PM10     34624 non-null  float64
 7   SO2      34618 non-null  float64
 8   NO2      34372 non-null  float64
 9   CO       33858 non-null  float64
 10  O3       34558 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34986 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

Shape Nongzhanguan:
 (35064, 18)

Missing Value Nongzhanguan:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       628
PM10        440
SO2         446
NO2         692
CO         1206
O3          506
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

Duplicate Nongzhanguan: 0

Describe Nongzhanguan:
                  No          year         month           day          hour  \
count  35064.000000  35064.000000  35064.000000  35064.000000  35064.000000
mean   17532.500000   2014.662560      6.522930     15.729637     11.500000
std    10122.249256      1.177213      3.448752      8.800218      6.922285
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8766.750000   2014.000000      4.000000      8.000000      5.750000
50%    17532.500000   2015.000000      7.000000     16.000000     11.500000
75%    26298.250000   2016.000000     10.000000     23.000000     17.250000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  34436.000000  34624.000000  34618.000000  34372.000000  33858.000000
mean      84.838483    108.991096     18.689242     58.097172   1324.350198
std       86.225344     95.341177     24.280665     36.297740   1245.166124
min        2.000000      2.000000      0.571200      2.000000    100.000000
25%       22.000000     38.000000      3.000000     29.000000    500.000000
50%       59.000000     85.000000      9.000000     51.000000    900.000000
75%      116.000000    149.000000     23.000000     80.000000   1600.000000
max      844.000000    995.000000    257.000000    273.000000  10000.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  34558.000000  35044.000000  35044.000000  35044.000000  35044.000000
mean      58.534682     13.671490   1012.547419      2.447535      0.064020
std       58.401448     11.458418     10.266059     13.810696      0.786282
min        0.214200    -16.800000    987.100000    -35.300000      0.000000
25%       10.000000      3.100000   1004.000000     -8.800000      0.000000
50%       45.000000     14.600000   1012.200000      3.000000      0.000000
75%       84.000000     23.500000   1020.900000     15.000000      0.000000
max      390.000000     41.100000   1042.000000     28.800000     46.400000

               WSPM
count  35050.000000
mean       1.860785
std        1.280368
min        0.000000
25%        1.000000
50%        1.500000
75%        2.400000
max       10.500000

#### Menilai data Shunyi

In [13]:
assessing(shunyi_df, 'Shunyi')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34151 non-null  float64
 6   PM10     34516 non-null  float64
 7   SO2      33768 non-null  float64
 8   NO2      33699 non-null  float64
 9   CO       32886 non-null  float64
 10  O3       33575 non-null  float64
 11  TEMP     35013 non-null  float64
 12  PRES     35013 non-null  float64
 13  DEWP     35010 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34581 non-null  object
 16  WSPM     35020 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

Shape Shunyi:
 (35064, 18)

Missing Value Shunyi:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       913
PM10        548
SO2        1296
NO2        1365
CO         2178
O3         1489
TEMP         51
PRES         51
DEWP         54
RAIN         51
wd          483
WSPM         44
station       0
dtype: int64

Duplicate Shunyi: 0

Describe Shunyi:
                  No          year         month           day          hour  \
count  35064.000000  35064.000000  35064.000000  35064.000000  35064.000000
mean   17532.500000   2014.662560      6.522930     15.729637     11.500000
std    10122.249256      1.177213      3.448752      8.800218      6.922285
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8766.750000   2014.000000      4.000000      8.000000      5.750000
50%    17532.500000   2015.000000      7.000000     16.000000     11.500000
75%    26298.250000   2016.000000     10.000000     23.000000     17.250000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  34151.000000  34516.000000  33768.000000  33699.000000  32886.000000
mean      79.491602     98.737026     13.572039     43.908865   1187.063979
std       81.231739     89.143718     19.572068     30.996828   1156.374102
min        2.000000      2.000000      0.285600      2.000000    100.000000
25%       19.000000     31.000000      2.000000     19.000000    400.000000
50%       55.000000     77.000000      5.000000     37.000000    800.000000
75%      112.000000    138.000000     17.000000     62.000000   1500.000000
max      941.000000    999.000000    239.000000    258.000000  10000.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  33575.000000  35013.000000  35013.000000  35010.000000  35013.000000
mean      55.201321     13.387969   1013.061938      2.465036      0.061094
std       54.873726     11.483588     10.177339     13.726622      0.761668
min        0.214200    -16.800000    988.000000    -36.000000      0.000000
25%       10.000000      3.000000   1004.700000     -8.800000      0.000000
50%       43.000000     14.400000   1012.700000      3.100000      0.000000
75%       77.000000     23.200000   1021.000000     15.100000      0.000000
max      351.716400     40.600000   1042.800000     27.500000     37.300000

               WSPM
count  35020.000000
mean       1.807533
std        1.287817
min        0.000000
25%        1.000000
50%        1.500000
75%        2.300000
max       12.800000

#### Menilai data Tiantan

In [14]:
assessing(tiantan_df, 'Tiantan')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34387 non-null  float64
 6   PM10     34467 non-null  float64
 7   SO2      33946 non-null  float64
 8   NO2      34320 non-null  float64
 9   CO       33938 non-null  float64
 10  O3       34221 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34986 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

Shape Tiantan:
 (35064, 18)

Missing Value Tiantan:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       677
PM10        597
SO2        1118
NO2         744
CO         1126
O3          843
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

Duplicate Tiantan: 0

Describe Tiantan:
                  No          year         month           day          hour  \
count  35064.000000  35064.000000  35064.000000  35064.000000  35064.000000
mean   17532.500000   2014.662560      6.522930     15.729637     11.500000
std    10122.249256      1.177213      3.448752      8.800218      6.922285
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8766.750000   2014.000000      4.000000      8.000000      5.750000
50%    17532.500000   2015.000000      7.000000     16.000000     11.500000
75%    26298.250000   2016.000000     10.000000     23.000000     17.250000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  34387.000000  34467.000000  33946.000000  34320.000000  33938.000000
mean      82.164911    106.363672     14.367615     53.162646   1298.303318
std       80.921384     89.700157     20.144631     31.946224   1170.593297
min        3.000000      2.000000      0.571200      2.000000    100.000000
25%       22.000000     41.000000      3.000000     28.000000    500.000000
50%       59.000000     85.000000      7.000000     47.000000    900.000000
75%      113.000000    144.000000     17.000000     71.000000   1600.000000
max      821.000000    988.000000    273.000000    241.000000  10000.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  34221.000000  35044.000000  35044.000000  35044.000000  35044.000000
mean      55.984297     13.671490   1012.547419      2.447535      0.064020
std       59.081528     11.458418     10.266059     13.810696      0.786282
min        0.428400    -16.800000    987.100000    -35.300000      0.000000
25%        8.000000      3.100000   1004.000000     -8.800000      0.000000
50%       40.000000     14.600000   1012.200000      3.000000      0.000000
75%       81.000000     23.500000   1020.900000     15.000000      0.000000
max      674.000000     41.100000   1042.000000     28.800000     46.400000

               WSPM
count  35050.000000
mean       1.860785
std        1.280368
min        0.000000
25%        1.000000
50%        1.500000
75%        2.400000
max       10.500000

#### Menilai data Wanliu

In [15]:
assessing(wanliu_df, 'Wanliu')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34682 non-null  float64
 6   PM10     34780 non-null  float64
 7   SO2      34489 non-null  float64
 8   NO2      33994 non-null  float64
 9   CO       33252 non-null  float64
 10  O3       32957 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34941 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

Shape Wanliu:
 (35064, 18)

Missing Value Wanliu:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       382
PM10        284
SO2         575
NO2        1070
CO         1812
O3         2107
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd          123
WSPM         14
station       0
dtype: int64

Duplicate Wanliu: 0

Describe Wanliu:
                  No          year         month           day          hour  \
count  35064.000000  35064.000000  35064.000000  35064.000000  35064.000000
mean   17532.500000   2014.662560      6.522930     15.729637     11.500000
std    10122.249256      1.177213      3.448752      8.800218      6.922285
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8766.750000   2014.000000      4.000000      8.000000      5.750000
50%    17532.500000   2015.000000      7.000000     16.000000     11.500000
75%    26298.250000   2016.000000     10.000000     23.000000     17.250000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2           NO2            CO  \
count  34682.000000  34780.000000  34489.000000  33994.000000  33252.000000
mean      83.374716    110.464618     18.376481     65.258789   1319.353513
std       81.905568     92.795065     22.609648     37.996088   1268.114331
min        2.000000      2.000000      0.285600      1.642400    100.000000
25%       23.000000     40.000000      4.000000     36.000000    500.000000
50%       59.000000     88.000000     10.000000     60.000000    900.000000
75%      116.000000    153.000000     23.000000     88.000000   1600.000000
max      957.000000    951.000000    282.000000    264.000000  10000.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  32957.000000  35044.000000  35044.000000  35044.000000  35044.000000
mean      48.873614     13.428865   1011.097536      3.266588      0.068263
std       55.111740     11.346931     10.355247     13.678060      0.896726
min        0.214200    -15.800000    985.900000    -34.900000      0.000000
25%        4.000000      3.200000   1002.500000     -8.100000      0.000000
50%       32.000000     14.300000   1010.800000      4.000000      0.000000
75%       73.000000     22.900000   1019.400000     15.800000      0.000000
max      364.000000     40.500000   1040.300000     28.500000     72.500000

               WSPM
count  35050.000000
mean       1.501215
std        1.104472
min        0.000000
25%        0.800000
50%        1.200000
75%        2.000000
max       11.200000

#### Menilai data Wanshouxigong

In [16]:
assessing(wanshouxigong_df, 'Wanshouxigong')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34368 non-null  float64
 6   PM10     34580 non-null  float64
 7   SO2      34395 non-null  float64
 8   NO2      34310 non-null  float64
 9   CO       33767 non-null  float64
 10  O3       33986 non-null  float64
 11  TEMP     35045 non-null  float64
 12  PRES     35045 non-null  float64
 13  DEWP     35045 non-null  float64
 14  RAIN     35045 non-null  float64
 15  wd       34985 non-null  object
 16  WSPM     35051 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

Shape Wanshouxigong:
 (35064, 18)

Missing Value Wanshouxigong:
 No            0
year          0
month         0
day           0
hour          0
PM2.5       696
PM10        484
SO2         669
NO2         754
CO         1297
O3         1078
TEMP         19
PRES         19
DEWP         19
RAIN         19
wd           79
WSPM         13
station       0
dtype: int64

Duplicate Wanshouxigong: 0

Describe Wanshouxigong:
                  No          year         month           day          hour  \
count  35064.000000  35064.000000  35064.000000  35064.000000  35064.000000
mean   17532.500000   2014.662560      6.522930     15.729637     11.500000
std    10122.249256      1.177213      3.448752      8.800218      6.922285
min        1.000000   2013.000000      1.000000      1.000000      0.000000
25%     8766.750000   2014.000000      4.000000      8.000000      5.750000
50%    17532.500000   2015.000000      7.000000     16.000000     11.500000
75%    26298.250000   2016.000000     10.000000     23.000000     17.250000
max    35064.000000   2017.000000     12.000000     31.000000     23.000000

              PM2.5          PM10           SO2          NO2            CO  \
count  34368.000000  34580.000000  34395.000000  34310.00000  33767.000000
mean      85.024136    112.223459     17.148603     55.52956   1370.395031
std       85.975981     97.593210     23.940834     35.80805   1223.139114
min        3.000000      2.000000      0.285600      2.00000    100.000000
25%       23.000000     39.000000      3.000000     28.00000    600.000000
50%       60.000000     91.000000      8.000000     49.00000   1000.000000
75%      116.000000    154.000000     21.000000     77.00000   1700.000000
max      999.000000    961.000000    411.000000    251.00000   9800.000000

                 O3          TEMP          PRES          DEWP          RAIN  \
count  33986.000000  35045.000000  35045.000000  35045.000000  35045.000000
mean      56.229904     13.784477   1011.511804      2.707442      0.064320
std       57.082710     11.385156     10.570928     13.704139      0.796981
min        0.214200    -16.800000    985.100000    -35.300000      0.000000
25%        8.000000      3.400000   1002.800000     -8.500000      0.000000
50%       42.000000     14.800000   1011.000000      3.300000      0.000000
75%       82.000000     23.500000   1020.000000     15.200000      0.000000
max      358.000000     40.600000   1042.000000     28.500000     46.400000

               WSPM
count  35051.000000
mean       1.745314
std        1.206355
min        0.000000
25%        0.900000
50%        1.400000
75%        2.300000
max       13.200000

### Cleaning Data

In [39]:
def cleaning(df):
    # menghilangkan missing value
    df.dropna(inplace=True)
    # mengubah setiap kolom tanggal dan waktu menjadi kolom datetime
    df['datetime'] = pd.to_datetime(df[['year', 'month', 'day', 'hour']])
    return df

#### Membersihkan data Aotizhongxin

In [40]:
aotizhongxin_df = cleaning(aotizhongxin_df)

In [41]:
aotizhongxin_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31815 entries, 0 to 35063
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   No        31815 non-null  int64
 1   year      31815 non-null  int64
 2   month     31815 non-null  int64
 3   day       31815 non-null  int64
 4   hour      31815 non-null  int64
 5   PM2.5     31815 non-null  float64
 6   PM10      31815 non-null  float64
 7   SO2       31815 non-null  float64
 8   NO2       31815 non-null  float64
 9   CO        31815 non-null  float64
 10  O3        31815 non-null  float64
 11  TEMP      31815 non-null  float64
 12  PRES      31815 non-null  float64
 13  DEWP      31815 non-null  float64
 14  RAIN      31815 non-null  float64
 15  wd        31815 non-null  object
 16  WSPM      31815 non-null  float64
 17  station   31815 non-null  object
 18  datetime  31815 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(5), object(2)
memory usage: 5.9+ MB

In [42]:
aotizhongxin_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
count,31815.000000,31815.000000,31815.000000,31815.000000,31815.000000,31815.00000,31815.000000,31815.000000,31815.000000,31815.000000,31815.000000,31815.000000,31815.000000,31815.000000,31815.000000,31815.000000,31815
mean,17899.423857,2014.714914,6.401886,15.578564,11.624800,81.86363,109.120685,17.167205,58.976332,1256.574729,56.240938,13.775611,1011.800385,3.241106,0.068235,1.720471,2015-03-16 18:25:25.884016896
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.00000,2.000000,0.571200,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000,2013-03-01 00:00:00
25%,9415.500000,2014.000000,3.000000,8.000000,6.000000,22.00000,37.000000,3.000000,30.000000,500.000000,8.000000,3.400000,1003.300000,-8.000000,0.000000,0.900000,2014-03-28 06:30:00
50%,18093.000000,2015.000000,6.000000,15.000000,12.000000,58.00000,86.000000,8.000000,53.000000,800.000000,42.000000,14.800000,1011.200000,4.000000,0.000000,1.400000,2015-03-24 20:00:00
75%,26590.500000,2016.000000,9.000000,23.000000,18.000000,114.00000,154.000000,21.000000,82.000000,1500.000000,82.000000,23.400000,1020.000000,15.700000,0.000000,2.200000,2016-03-12 21:30:00
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,713.00000,948.000000,229.000000,290.000000,10000.000000,423.000000,40.500000,1042.000000,28.500000,46.400000,11.200000,2017-02-28 23:00:00
std,10058.429849,1.162536,3.416847,8.794954,6.926874,80.44949,93.718017,22.760801,37.061384,1223.301208,57.834314,11.369035,10.338869,13.667863,0.837489,1.204240,NaN

#### Membersihkan data Changpin

In [45]:
changping_df = cleaning(changping_df)
print('Missing value :', changping_df.isna().sum())
changping_df.describe()

Missing value : No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd          0
WSPM        0
station     0
datetime    0
dtype: int64

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
count,32681.000000,32681.000000,32681.000000,32681.000000,32681.000000,32681.000000,32681.000000,32681.000000,32681.000000,32681.000000,32681.000000,32681.000000,32681.000000,32681.000000,32681.000000,32681.000000,32681
mean,17876.569658,2014.703130,6.507481,15.715156,11.506992,70.312328,94.086402,15.061357,44.319035,1151.716441,57.424541,13.401677,1007.994009,1.135299,0.060736,1.865757,2015-03-15 19:34:10.769560320
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,1.000000,2.000000,100.000000,0.214200,-16.600000,982.400000,-35.100000,0.000000,0.000000,2013-03-01 00:00:00
25%,9384.000000,2014.000000,3.000000,8.000000,6.000000,18.000000,33.000000,2.000000,22.000000,500.000000,15.000000,3.100000,999.500000,-10.600000,0.000000,1.000000,2014-03-26 23:00:00
50%,17910.000000,2015.000000,7.000000,16.000000,11.000000,46.000000,72.000000,7.000000,36.000000,800.000000,46.000000,14.100000,1007.700000,1.100000,0.000000,1.500000,2015-03-17 05:00:00
75%,26546.000000,2016.000000,10.000000,23.000000,18.000000,99.000000,130.000000,18.000000,61.000000,1400.000000,79.000000,23.100000,1016.300000,13.900000,0.000000,2.300000,2016-03-11 01:00:00
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,662.000000,992.000000,310.000000,208.000000,10000.000000,429.000000,41.400000,1036.500000,27.200000,52.100000,10.000000,2017-02-28 23:00:00
std,10010.547363,1.165678,3.478965,8.729951,6.940587,70.955607,82.610340,21.057574,29.591375,1105.646637,53.792603,11.393462,10.177785,13.841226,0.765286,1.308218,NaN

#### Membersihkan data Dingling

In [46]:
dingling_df = cleaning(dingling_df)
print('Missing value :', dingling_df.isna().sum())
dingling_df.describe()

Missing value : No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd          0
WSPM        0
station     0
datetime    0
dtype: int64

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
count,31306.000000,31306.000000,31306.000000,31306.000000,31306.000000,31306.000000,31306.000000,31306.000000,31306.000000,31306.000000,31306.000000,31306.000000,31306.000000,31306.000000,31306.000000,31306.000000,31306
mean,17951.165719,2014.718297,6.422603,15.881237,11.504248,66.512518,84.527803,11.944167,27.267578,916.547211,69.449698,13.556274,1007.708007,1.403411,0.062387,1.850939,2015-03-18 22:09:56.588513280
min,3.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,1.000000,2.000000,100.000000,0.214200,-16.600000,982.800000,-35.100000,0.000000,0.000000,2013-03-01 02:00:00
25%,9888.250000,2014.000000,3.000000,8.000000,6.000000,14.000000,26.000000,2.000000,9.000000,300.000000,31.000000,3.000000,999.200000,-10.500000,0.000000,1.000000,2014-04-16 23:15:00
50%,18100.500000,2015.000000,6.000000,16.000000,11.000000,41.000000,61.000000,5.000000,19.000000,600.000000,62.000000,14.600000,1007.100000,1.600000,0.000000,1.500000,2015-03-25 03:30:00
75%,26268.750000,2016.000000,9.000000,23.000000,18.000000,93.000000,118.000000,15.000000,37.000000,1200.000000,91.000000,23.300000,1016.000000,14.300000,0.000000,2.300000,2016-02-28 11:45:00
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,647.000000,905.000000,150.000000,205.000000,10000.000000,500.000000,41.400000,1036.500000,27.200000,52.100000,10.000000,2017-02-28 23:00:00
std,9928.922785,1.147383,3.457774,8.724373,6.952859,72.434045,80.077511,15.625691,26.199002,910.281798,54.576024,11.451666,10.286864,13.851456,0.776216,1.295511,NaN

#### Membersihkan data Dongsi

In [47]:
dongsi_df = cleaning(dongsi_df)
print('Missing value :', dongsi_df.isna().sum())
dongsi_df.describe()

Missing value : No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd          0
WSPM        0
station     0
datetime    0
dtype: int64

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
count,30338.000000,30338.000000,30338.000000,30338.000000,30338.000000,30338.000000,30338.000000,30338.000000,30338.000000,30338.000000,30338.000000,30338.000000,30338.000000,30338.000000,30338.000000,30338.000000,30338
mean,18808.565759,2014.807832,6.530160,15.650109,11.500363,84.933156,110.991914,16.994466,53.717314,1316.524392,56.797482,13.623338,1012.879017,2.277794,0.061573,1.872510,2015-04-23 15:33:56.732810240
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,1.000000,2.000000,100.000000,1.000000,-16.800000,987.500000,-35.300000,0.000000,0.000000,2013-03-01 00:00:00
25%,11435.250000,2014.000000,4.000000,8.000000,5.000000,22.000000,38.000000,3.000000,27.000000,600.000000,11.673900,3.600000,1004.700000,-8.500000,0.000000,1.000000,2014-06-20 10:15:00
50%,19161.500000,2015.000000,7.000000,16.000000,11.000000,60.000000,87.000000,9.000000,47.000000,1000.000000,45.000000,14.600000,1012.400000,3.000000,0.000000,1.500000,2015-05-08 08:30:00
75%,26926.750000,2016.000000,10.000000,23.000000,18.000000,118.000000,152.000000,23.000000,73.000000,1600.000000,81.000000,23.000000,1020.900000,14.300000,0.000000,2.400000,2016-03-26 21:45:00
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,695.000000,955.000000,300.000000,258.000000,10000.000000,1071.000000,40.400000,1042.000000,28.800000,46.400000,10.500000,2017-02-28 23:00:00
std,9687.590750,1.124713,3.440944,8.800479,6.951066,85.283368,98.426262,20.555551,34.072328,1184.329763,57.850622,11.223178,10.004754,13.454891,0.791068,1.275355,NaN

#### Membersihkan data Guanyuan

In [48]:
guanyuan_df = cleaning(guanyuan_df)
print('Missing value :', guanyuan_df.isna().sum())
guanyuan_df.describe()

Missing value : No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd          0
WSPM        0
station     0
datetime    0
dtype: int64

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
count,32263.000000,32263.000000,32263.000000,32263.000000,32263.000000,32263.000000,32263.000000,32263.000000,32263.000000,32263.000000,32263.000000,32263.000000,32263.000000,32263.000000,32263.000000,32263.000000,32263
mean,18055.294300,2014.731519,6.411555,15.718780,11.548368,83.101051,108.974559,17.263085,57.698591,1265.709760,55.832982,13.707451,1011.856881,3.242758,0.069377,1.719462,2015-03-23 06:17:39.479899648
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,1.000000,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000,2013-03-01 00:00:00
25%,9790.500000,2014.000000,3.000000,8.000000,6.000000,23.000000,40.000000,3.000000,30.000000,500.000000,7.000000,3.200000,1003.300000,-8.100000,0.000000,0.900000,2014-04-12 21:30:00
50%,18323.000000,2015.000000,6.000000,16.000000,12.000000,59.000000,89.000000,8.000000,51.000000,900.000000,41.000000,14.800000,1011.200000,4.100000,0.000000,1.400000,2015-04-03 10:00:00
75%,26555.000000,2016.000000,9.000000,23.000000,18.000000,115.000000,149.000000,21.000000,78.000000,1600.000000,81.050000,23.400000,1020.300000,15.800000,0.000000,2.200000,2016-03-11 10:00:00
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,680.000000,987.000000,293.000000,270.000000,10000.000000,415.000000,40.500000,1042.000000,28.500000,72.500000,11.200000,2017-02-28 23:00:00
std,9974.437594,1.148731,3.426927,8.842654,6.935752,81.448350,91.583482,23.551127,35.113587,1157.718045,57.733303,11.423989,10.436685,13.767873,0.911777,1.198474,NaN

#### Membersihkan data Gucheng

In [49]:
gucheng_df = cleaning(gucheng_df)
print('Missing value :', gucheng_df.isna().sum())
gucheng_df.describe()

Missing value : No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd          0
WSPM        0
station     0
datetime    0
dtype: int64

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
count,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504
mean,17939.595619,2014.715174,6.449360,15.716035,11.530396,83.865653,119.085002,15.095190,55.583879,1325.509691,58.280651,13.926933,1008.792848,2.632562,0.066124,1.360549,2015-03-18 10:35:44.228402432
min,21.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,1.000000,2.000000,100.000000,0.428400,-15.600000,984.000000,-34.600000,0.000000,0.000000,2013-03-01 20:00:00
25%,9477.750000,2014.000000,3.000000,8.000000,6.000000,24.000000,45.000000,2.000000,26.000000,600.000000,10.000000,3.700000,1000.300000,-8.900000,0.000000,0.600000,2014-03-30 20:45:00
50%,18119.500000,2015.000000,6.000000,16.000000,12.000000,59.000000,99.000000,6.000000,50.000000,900.000000,45.000000,14.800000,1008.400000,3.000000,0.000000,1.100000,2015-03-25 22:30:00
75%,26617.250000,2016.000000,9.000000,23.000000,18.000000,116.000000,167.000000,19.000000,79.000000,1600.000000,84.000000,23.600000,1017.000000,15.400000,0.000000,1.800000,2016-03-14 00:15:00
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,770.000000,994.000000,500.000000,271.000000,10000.000000,450.000000,41.600000,1038.100000,27.400000,41.900000,12.000000,2017-02-28 23:00:00
std,10040.092139,1.164038,3.436471,8.867932,6.943409,82.956802,96.796851,20.709432,36.473301,1213.640131,57.402516,11.335756,10.154603,13.819851,0.862648,1.157869,NaN

#### Mebersihkan data Huairo

In [50]:
huairou_df = cleaning(huairou_df)
print('Missing value :', huairou_df.isna().sum())
huairou_df.describe()

Missing value : No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd          0
WSPM        0
station     0
datetime    0
dtype: int64

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
count,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708.000000,31708
mean,17854.999653,2014.697931,6.541504,15.668633,11.661063,70.285669,92.525792,12.275823,32.633827,1032.398291,59.722474,12.276487,1007.805223,2.064693,0.066904,1.654106,2015-03-14 21:59:58.751104
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,3.000000,1.000000,2.000000,100.000000,0.214200,-19.900000,982.800000,-34.900000,0.000000,0.000000,2013-03-01 00:00:00
25%,9310.750000,2014.000000,3.000000,8.000000,6.000000,18.000000,29.000000,2.000000,13.000000,400.000000,18.000000,2.000000,999.600000,-9.900000,0.000000,0.900000,2014-03-23 21:45:00
50%,17872.500000,2015.000000,7.000000,16.000000,12.000000,47.000000,70.000000,4.000000,25.000000,800.000000,49.000000,13.300000,1007.600000,2.300000,0.000000,1.300000,2015-03-15 15:30:00
75%,26456.250000,2016.000000,10.000000,23.000000,18.000000,99.000000,132.000000,14.000000,46.000000,1300.000000,82.000000,22.200000,1015.700000,15.100000,0.000000,2.000000,2016-03-07 07:15:00
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,683.000000,993.000000,315.000000,231.000000,10000.000000,444.000000,40.300000,1036.500000,29.100000,45.900000,12.900000,2017-02-28 23:00:00
std,9970.988647,1.165937,3.482337,8.802324,6.931031,71.171533,83.458181,18.951478,26.460130,904.704799,54.914792,11.750159,9.979929,14.072017,0.852596,1.180881,NaN

#### Membersihkan data Nongzhanguan

In [51]:
nongzhanguan_df = cleaning(nongzhanguan_df)
print('Missing value :', nongzhanguan_df.isna().sum())
nongzhanguan_df.describe()

Missing value : No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd          0
WSPM        0
station     0
datetime    0
dtype: int64

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
count,33114.000000,33114.000000,33114.000000,33114.000000,33114.000000,33114.000000,33114.000000,33114.000000,33114.000000,33114.000000,33114.000000,33114.000000,33114.000000,33114.000000,33114.000000,33114.000000,33114
mean,17651.646554,2014.681373,6.461799,15.685420,11.519176,84.720783,109.175929,18.560198,58.213457,1327.784381,58.614905,13.698473,1012.495573,2.521988,0.066896,1.858045,2015-03-06 10:38:47.595578880
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,1.000000,2.000000,100.000000,0.214200,-16.800000,987.100000,-35.300000,0.000000,0.000000,2013-03-01 00:00:00
25%,9071.250000,2014.000000,3.000000,8.000000,6.000000,22.000000,38.000000,3.000000,29.000000,500.000000,10.000000,3.200000,1003.900000,-8.700000,0.000000,1.000000,2014-03-13 22:15:00
50%,17735.500000,2015.000000,6.000000,16.000000,11.000000,59.000000,86.000000,9.000000,51.000000,900.000000,45.000000,14.600000,1012.100000,3.200000,0.000000,1.500000,2015-03-09 22:30:00
75%,26323.750000,2016.000000,9.000000,23.000000,18.000000,116.000000,149.000000,23.000000,80.000000,1600.000000,84.000000,23.500000,1020.900000,15.100000,0.000000,2.400000,2016-03-01 18:45:00
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,844.000000,995.000000,257.000000,273.000000,10000.000000,390.000000,41.100000,1042.000000,28.800000,46.400000,10.500000,2017-02-28 23:00:00
std,10079.349513,1.170139,3.439149,8.823626,6.948669,85.633679,95.022778,24.109360,36.379472,1248.356734,58.561702,11.447876,10.268242,13.789830,0.807603,1.272080,NaN

#### Membersihkan data Shunyi

In [52]:
shunyi_df = cleaning(shunyi_df)
print('Missing value :', shunyi_df.isna().sum())
shunyi_df.describe()

Missing value : No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd          0
WSPM        0
station     0
datetime    0
dtype: int64

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
count,30194.000000,30194.000000,30194.000000,30194.000000,30194.000000,30194.000000,30194.000000,30194.000000,30194.000000,30194.000000,30194.000000,30194.000000,30194.000000,30194.000000,30194.000000,30194.000000,30194
mean,17586.308902,2014.672286,6.477214,15.797244,11.750447,79.400725,99.380546,14.144105,44.838483,1201.778267,55.297919,12.787637,1013.648045,1.542873,0.055150,1.842306,2015-03-03 17:18:32.048751360
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,1.000000,2.000000,100.000000,0.214200,-16.800000,988.000000,-36.000000,0.000000,0.000000,2013-03-01 00:00:00
25%,9084.250000,2014.000000,3.000000,8.000000,6.000000,19.000000,31.000000,2.000000,20.000000,400.000000,11.000000,2.500000,1005.400000,-9.600000,0.000000,1.000000,2014-03-14 11:15:00
50%,17607.500000,2015.000000,6.000000,16.000000,12.000000,55.000000,77.000000,5.000000,38.000000,900.000000,44.000000,13.300000,1013.400000,1.400000,0.000000,1.500000,2015-03-04 14:30:00
75%,25872.750000,2016.000000,10.000000,23.000000,18.000000,111.000000,140.000000,18.000000,63.000000,1500.000000,77.000000,22.600000,1021.600000,14.100000,0.000000,2.300000,2016-02-11 23:45:00
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,762.000000,999.000000,207.000000,258.000000,10000.000000,340.000000,39.000000,1042.800000,27.500000,37.300000,12.800000,2017-02-28 23:00:00
std,9945.744376,1.162176,3.531983,8.782419,6.881524,81.222687,89.806815,20.111407,30.988580,1157.599187,54.106029,11.451568,10.120229,13.657590,0.711516,1.294560,NaN

#### Membersihkan data Tiantan

In [53]:
tiantan_df = cleaning(tiantan_df)
print('Missing value :', tiantan_df.isna().sum())
tiantan_df.describe()

Missing value : No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd          0
WSPM        0
station     0
datetime    0
dtype: int64

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
count,32843.000000,32843.000000,32843.000000,32843.000000,32843.000000,32843.000000,32843.000000,32843.000000,32843.000000,32843.000000,32843.000000,32843.000000,32843.000000,32843.000000,32843.000000,32843.000000,32843
mean,17807.867217,2014.693481,6.533447,15.579697,11.527449,81.749840,105.627866,14.140742,53.213083,1297.434187,55.297030,13.632013,1012.607762,2.495482,0.065585,1.853415,2015-03-12 22:52:01.980330496
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,1.000000,2.000000,100.000000,0.428400,-16.800000,987.100000,-35.300000,0.000000,0.000000,2013-03-01 00:00:00
25%,9026.500000,2014.000000,4.000000,8.000000,6.000000,22.000000,40.000000,3.000000,28.000000,500.000000,7.000000,3.200000,1004.200000,-8.700000,0.000000,1.000000,2014-03-12 01:30:00
50%,18025.000000,2015.000000,7.000000,15.000000,12.000000,58.000000,85.000000,7.000000,47.000000,900.000000,40.000000,14.500000,1012.300000,3.100000,0.000000,1.500000,2015-03-22 00:00:00
75%,26551.500000,2016.000000,10.000000,23.000000,18.000000,113.000000,143.000000,17.000000,71.000000,1600.000000,80.000000,23.400000,1020.800000,15.100000,0.000000,2.400000,2016-03-11 06:30:00
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,821.000000,988.000000,230.000000,238.000000,10000.000000,674.000000,38.400000,1042.000000,28.800000,46.400000,10.500000,2017-02-28 23:00:00
std,10119.373561,1.178400,3.451280,8.802954,6.945901,79.881882,88.640813,19.785953,32.008904,1162.709669,58.395485,11.393054,10.178583,13.854362,0.802663,1.273672,NaN

#### Membersihkan data Wanliu

In [54]:
wanliu_df = cleaning(wanliu_df)
print('Missing value :', wanliu_df.isna().sum())
wanliu_df.describe()

Missing value : No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd          0
WSPM        0
station     0
datetime    0
dtype: int64

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
count,30634.000000,30634.000000,30634.000000,30634.000000,30634.000000,30634.000000,30634.000000,30634.000000,30634.000000,30634.000000,30634.000000,30634.000000,30634.000000,30634.000000,30634.000000,30634.000000,30634
mean,18281.563067,2014.752954,6.459587,15.853627,11.716687,81.981459,108.765861,17.700088,64.429290,1293.450153,49.474836,14.020991,1010.748772,3.831086,0.074695,1.502971,2015-04-01 16:33:47.041849088
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-15.800000,985.900000,-34.900000,0.000000,0.000000,2013-03-01 00:00:00
25%,10147.250000,2014.000000,3.000000,8.000000,6.000000,23.000000,40.000000,4.000000,35.000000,500.000000,4.000000,3.700000,1002.100000,-7.700000,0.000000,0.800000,2014-04-27 18:15:00
50%,18933.500000,2015.000000,7.000000,16.000000,12.000000,57.000000,86.000000,10.000000,58.305200,900.000000,32.000000,15.300000,1010.000000,5.200000,0.000000,1.300000,2015-04-28 20:30:00
75%,27013.750000,2016.000000,9.000000,24.000000,18.000000,114.000000,150.000000,22.000000,87.000000,1500.000000,74.000000,23.500000,1019.100000,16.500000,0.000000,2.000000,2016-03-30 12:45:00
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,770.000000,923.000000,204.000000,264.000000,10000.000000,364.000000,40.500000,1040.300000,28.500000,72.500000,11.200000,2017-02-28 23:00:00
std,10088.872293,1.160205,3.373101,8.864187,6.908334,80.976505,91.696002,21.655131,37.944554,1238.370788,55.772630,11.365609,10.410570,13.804524,0.951957,1.090126,NaN

#### Membersihkan data Wanshouxigong

In [55]:
wanshouxigong_df = cleaning(wanshouxigong_df)
print('Missing value :', wanshouxigong_df.isna().sum())
wanshouxigong_df.describe()

Missing value : No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd          0
WSPM        0
station     0
datetime    0
dtype: int64

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
count,32768.000000,32768.000000,32768.000000,32768.000000,32768.000000,32768.000000,32768.000000,32768.000000,32768.000000,32768.000000,32768.000000,32768.000000,32768.000000,32768.000000,32768.000000,32768.000000,32768
mean,17813.193787,2014.696228,6.504272,15.705750,11.530457,84.238510,111.918692,17.152569,55.307181,1362.531647,55.922622,13.773187,1011.560042,2.607440,0.062372,1.755984,2015-03-13 04:11:37.631835904
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.571200,2.000000,100.000000,0.214200,-16.800000,985.100000,-35.300000,0.000000,0.000000,2013-03-01 00:00:00
25%,9401.750000,2014.000000,4.000000,8.000000,6.000000,22.000000,39.000000,3.000000,28.000000,600.000000,8.000000,3.500000,1003.000000,-8.600000,0.000000,0.900000,2014-03-27 16:45:00
50%,17925.500000,2015.000000,7.000000,16.000000,12.000000,60.000000,90.000000,8.000000,48.000000,1000.000000,42.000000,14.700000,1011.000000,3.200000,0.000000,1.400000,2015-03-17 20:30:00
75%,26452.250000,2016.000000,10.000000,23.000000,18.000000,115.000000,153.000000,21.000000,76.000000,1700.000000,82.000000,23.500000,1020.000000,15.100000,0.000000,2.300000,2016-03-07 03:15:00
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,823.000000,961.000000,273.000000,241.000000,9800.000000,358.000000,40.600000,1042.000000,28.500000,46.400000,13.200000,2017-02-28 23:00:00
std,10033.128152,1.163612,3.451823,8.794971,6.927700,84.583645,96.632285,23.758647,35.695505,1221.299973,57.035526,11.371280,10.554562,13.719285,0.786202,1.203560,NaN

## Exploratory Data Analysis (EDA)

### Explore Aotizhongxin

In [58]:
aotizhongxin_df.describe(include="all")

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,datetime
count,31815.000000,31815.000000,31815.000000,31815.000000,31815.000000,31815.00000,31815.000000,31815.000000,31815.000000,31815.000000,31815.000000,31815.000000,31815.000000,31815.000000,31815.000000,31815,31815.000000,31815,31815
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN,1,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NE,NaN,Aotizhongxin,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4581,NaN,31815,NaN
mean,17899.423857,2014.714914,6.401886,15.578564,11.624800,81.86363,109.120685,17.167205,58.976332,1256.574729,56.240938,13.775611,1011.800385,3.241106,0.068235,NaN,1.720471,NaN,2015-03-16 18:25:25.884016896
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.00000,2.000000,0.571200,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,NaN,0.000000,NaN,2013-03-01 00:00:00
25%,9415.500000,2014.000000,3.000000,8.000000,6.000000,22.00000,37.000000,3.000000,30.000000,500.000000,8.000000,3.400000,1003.300000,-8.000000,0.000000,NaN,0.900000,NaN,2014-03-28 06:30:00
50%,18093.000000,2015.000000,6.000000,15.000000,12.000000,58.00000,86.000000,8.000000,53.000000,800.000000,42.000000,14.800000,1011.200000,4.000000,0.000000,NaN,1.400000,NaN,2015-03-24 20:00:00
75%,26590.500000,2016.000000,9.000000,23.000000,18.000000,114.00000,154.000000,21.000000,82.000000,1500.000000,82.000000,23.400000,1020.000000,15.700000,0.000000,NaN,2.200000,NaN,2016-03-12 21:30:00
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,713.00000,948.000000,229.000000,290.000000,10000.000000,423.000000,40.500000,1042.000000,28.500000,46.400000,NaN,11.200000,NaN,2017-02-28 23:00:00
std,10058.429849,1.162536,3.416847,8.794954,6.926874,80.44949,93.718017,22.760801,37.061384,1223.301208,57.834314,11.369035,10.338869,13.667863,0.837489,NaN,1.204240,NaN,NaN

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

## Conclusion

- Conclution pertanyaan 1
- conclution pertanyaan 2